@model IEnumerable<Propotipo_Index_y_Carrera.Models.CarrerayPregunta> 


@{
    ViewData["Title"] = "Home Page";
}


<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
<script>
var current = 0;
var imagenes = new Array();
 
$(document).ready(function() {
    var numImages = 6;
    if (numImages <= 3) {
        $('.right-arrow').css('display', 'none');
        $('.left-arrow').css('display', 'none');
    }
 
    $('.left-arrow').on('click',function() {
        if (current > 0) {
            current = current - 1;
        } else {
            current = numImages - 3;
        }
 
        $(".carrusel").animate({"left": -($('#product_'+current).position().left)}, 600);
 
        return false;
    });
 
    $('.left-arrow').on('hover', function() {
        $(this).css('opacity','0.5');
    }, function() {
        $(this).css('opacity','1');
    });
 
    $('.right-arrow').on('hover', function() {
        $(this).css('opacity','0.5');
    }, function() {
        $(this).css('opacity','1');
    });
 
    $('.right-arrow').on('click', function() {
        if (numImages > current + 3) {
            current = current+1;
        } else {
            current = 0;
        }
 
        $(".carrusel").animate({"left": -($('#product_'+current).position().left)}, 600);
 
        return false;
    }); 
 });
</script>




<div class="text-center">
    
    <div class="Container">
          <img src="~/uploads/indexuniverso2.jpg" width="100%" height=400px  href="" role="" class="" data-toggle="">

    </div>

    <!--<h2 class="display-6"> Modelos</h2>-->
   @*<p>
         <a asp-controller="Movies" asp-action="Index" class="modal-content" ><input type="submit" value="Movies" class="btn btn-primary  " /> </a>
          <hr />
    </p*@ 


   
   <div class="container">
      <div class="row">
       
          <!-- render selection-->
          <!--repite el for hasta qur termine la lista, -->
          <h2>Carrera</h2>
      @*         @foreach (var item in Model) { 
                    
	                <div class="col-sm-4">
                        <img src="@Html.DisplayFor(modelItem => item.Imagen)" width="100%"  href="#victorModal" role="button" class="btn btn-large btn-primary" data-toggle="modal">
                      <h3>@Html.DisplayFor(modelItem => item.Name)</h3>
                      <p>
                         
                                        
                                        
                                        <a asp-action="Detalle" asp-route-id="@item.Id"><input type="submit" value="Details" class="btn btn-primary  " /></a> 
                                        <a asp-action="Delete" asp-route-id="@item.Id"><input type="submit" value="Delete" class="btn btn-primary  " /></a>
                      </p>
            
                    </div>
                } 
        *@
        <div class=""> 
    <div  id="carrusel">
    <a href="#" class="left-arrow "><</a>
    <a href="#" class="right-arrow"> > </a>
    <div class="carrusel">
        
        @foreach (var item in Model) {
                var cont = 0;
                var cont1 = cont;
                @foreach (var item1 in Model)
                {
                    @if (cont>-1)
                    {
                        @if (item1.categoria == "Carrera")
                        {

                            

                            <div class="product" id="product_@cont" >
                                <h5>@Html.DisplayFor(modelItem => item1.nombre)</h5>
                                <br>
                                <p>@item1.Id</p>
                                 <a asp-controller="Carrera" asp-action="Detalle" asp-route-id="@item1.Id"><input type="submit" value="Details" class="btn btn-primary  " /></a> 

                            </div>
                            cont = cont + 1;









                        }
                    }
                    
                }
                break;

                
               
        }
        
    </div>
</div>

</div>

            
                
                   
                    
                
                
                
        </div>
   </div>

   
   


   <div class="container">
         <div class="row">
      
          <!-- render selection-->
          <!--repite el for hasta qur termine la lista, -->
          <h2>Preguntas</h2>
              @foreach (var item in Model) { 
               // @if(item.Preguntaslist.pregunta_categoria== "Pregunta")
               @if (item.categoria=="Pregunta")
                {
                    <div class="table-bordered">
                       
                      <h6>@Html.DisplayFor(modelItem => item.nombre)</h6>
                      <p>
                         @Html.DisplayFor(modelItem => item.Descripcion)
                                        
                                        
                                        
                      </p>
            
                    </div>
                }

	                
              } 
        
        </div>
   </div>


</div>   

