@model Propotipo_Index_y_Carrera.Models.Pregunta
<!-- model toma los parametrso de  carrera-->
@{
    ViewData["Title"] = "Detalle";
}
<!--toma los valores  del model-->
<h1>@Html.DisplayFor(model => model.Pregunt)</h1>

<div>
    <br>
    <!--toma los valores el nombre del parametro de carrera-->
    <h4>@Html.DisplayNameFor(model=> model.Respuesta)</h4>
    

    <hr />
    <dl class="row">
        

        <dd class = "col-sm-8">
            <!--toma los valores  del model-->
            @Html.DisplayFor(model => model.Respuesta)
        </dd>
          

        
    </dl>
</div>
<div>
     <!--un textoq ue te aparece como elimianar, redirecciona al delete, y le pasa el paramerteo id-->
    @Html.ActionLink("Eliminar", "Delete", new {   Model.Id_Pregunta }) |
                
    <!--un texto que direcciona a victormodal mediante el click-->
    <a  width="100%"  href="#victorModal" role="button" class="btn btn-large btn-primary" data-toggle="modal">Modificar   </a> 
     <p>
         <!--victormodal la panatalla emergente que me gusto usar y punto-->
    <div id="victorModal" class="modal fade">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="container modal-title">@Html.DisplayFor(model => model.Pregunt)</h4>
                                        </div>
                          
                                        <div class="modal-body">
                                            <!-- realiza la accion detalle abuse del detalle y crea uno identitco pero con el httpost y punto, si igual el edit y el detalle muesdtran lo mismo-->
                                            <form asp-action="Detalle">
                                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                                <input type="hidden" asp-for="Id_Pregunta" />
                                                <div class="form-group">
                                                </div>
                                                <div class="form-group">
                                                    <label asp-for="Pregunt" class="control-label"></label>
                                                    <input asp-for="Pregunt"   class="form-control" />
                                                    <span asp-validation-for="Pregunt" class="text-danger"></span>
                                                </div>
                                                <div class="form-group">
                                                    <label asp-for="Respuesta" class="control-label"></label>
                                                    <!--   <textarea asp-for="Description" class="form-control " rows="10" cols="40">@Html.DisplayFor(model => model.Respuesta)</textarea> 
-->                                                 
                                                    <!--aarea de texto mucho mas grande y lindo, rellenar la lo que muestra por que sino paarece cualquier cosa-->
                                                    <textarea asp-for="Respuesta" class="form-control " rows="10" cols="40">@Html.DisplayFor(model => model.Respuesta)</textarea> 
                                                     <span asp-validation-for="Respuesta" class="text-danger"></span>
                                                </div>
                                               
          
            
                                                <div class="form-group">
                                                    <br />
                                                    <input type="submit" value="Editar" class="btn btn-primary" />
                                               @*     <form enctype="multipart/form-data" action="" method="POST">
                                                        <input asp-for="Imagen" name="uploadedfile" type="file" />
                                                        <input type="submit" value="Subir archivo" />
                                                    </form>
                                                    *@
                                                </div>
                                                
                  
                                            </form>
                                            
                                            <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                                    @Html.ActionLink("Eliminar", "Delete", new {   Model.Id_Pregunta })
                                                    
                                            </div>
                                          </div>     
                                       </div>   
                                 </div>
                    </div>
    </p>

</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
